@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("../../assets/fonts/InterRegular.woff2") format("woff2"),
    url("../../assets/fonts/InterRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("../../assets/fonts/InterMedium.woff2") format("woff2"),
    url("../../assets/fonts/InterMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("../../assets/fonts/InterSemiBold.woff2") format("woff2"),
    url("../../assets/fonts/InterSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("../../assets/fonts/InterBold.woff2") format("woff2"),
    url("../../assets/fonts/InterBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


