.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  height: 100%;
  background-image: url("../../assets/png/bgHome.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 16px;
  padding-bottom: 100px;
  overflow: hidden auto;
  animation: fadeInUp 0.6s ease-out;

  .loaderTime {
    margin: 0 auto;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 360px) {
  .home {
    padding-left: 10px;
    padding-right: 10px;
  }
}
