.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(161deg, #ffdc71 0%, #e9bc32 100%),
    radial-gradient(
      89.62% 54.04% at 100% 0%,
      #fff 0%,
      rgba(255, 255, 255, 0) 100%
    );
  font-weight: 600;
  font-size: 16px;
  color: var(--color-text-four);
  padding: 19px 0;
  border-radius: 10px;
}

.btn.active {
  border: 1px solid var(--color-text-secondary);
  color: var(--white);
  background: rgba(0, 0, 0, 0.6);

  .svg {
    margin-right: 8px;
  }
}
